header {
  width: 100%;
  height: 100px;
  background: #a2add0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

main {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  padding: 5px 50px 0;
  width: 400px;
  height: 520px;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.step_top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step_mid {
  height: calc(100% - 200px);
  display: flex;
}

.step_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.step_form p {
  font-weight: 700;
}
.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputWrapper label {
  width: 100%;
}
input {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.avatars_container {
  width: 100%;
  height: calc(100% - 200px);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: auto;
}

.avatar {
  width: 100px;
  height: 100px;
}

.choosen {
  border: 1px solid black;
  border-radius: 5px;
}

.password_container {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.inputWrapper {
  margin: 20px 0;
}
.userInfo h3 {
  margin: 20px 0;
}

.dataUser {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dataUser p {
  margin: 5px 0;
}

.step_bot {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: 50px;
  width: 130px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
}
